.video__block {
    display: flex;
}
.info__block {
    width: 40%;
    height: 500px;
    background: rgb(181, 181, 181);
    border-bottom: 4px solid rgb(95, 95, 95);
    font-size: 14px;
    padding: 30px;
    border-radius: 10px;
}
.info__block p {
    color: black;
    font-size: 17px;
}
.likeIcon {
    width: 70%;
    filter: invert(100%);
}
.like__block_img {
    width: 45px;
    height: 45px;
    background-color: black;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.likes_dislikes {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.like__block {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/* Ваш CSS-код */
.comment-input {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    min-height: 60px;
}

.comment__button {
    margin-top: 8px;
    padding: 8px 16px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment__button:hover {
    background-color: #0057b3;
}
