.videoList_block {
  display: flex;
  flex-wrap: wrap;
  width: 94%;
  margin: 0 auto;
  justify-content: space-around;
  flex-wrap: wrap;
}
.add__btn {
  display: flex;
  height: 100px;
  position: absolute;
  bottom: 15px;
  right: 15px;
}
